@media (min-width: 992px) {
    header{
        text-align: center;
        text-decoration: none;
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 10px;
    }
    
    div.menuBoard{
        margin: 0px auto;
        width:80%;
        height: auto;
        padding: 20px;
        position: relative;
        
        
        
    
    }
    
    section{
        width: 30%;
        height: 10%;
        display: inline-block;
        border-style: solid;
        padding: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: rgb(155, 153, 153);
        
    
    }
    
    
    span{
        width: 20%;
        height: auto;
        border-style: solid;
        border-top-style: none;
        border-right-style: none;
        float: right;
        padding: 2%;
        margin-top: -5px;
        margin-right: -5px;
        padding-left: 10%;
        padding-right: 10%;
        font-weight: bold;
        
    }
    p{
        width: auto;
        height: auto;
        padding-top: 50px;
        padding-left: 20px;
    }
    
    .chickenSpan{
        background-color: rgb(243, 147, 163);
        color: black;
        border-color: black;
    
    }
    
    .beefSpan{
        background-color: rgb(236, 53, 53);
        color: white;
        border-color: black;
        
    }
    
    .sushiSpan{
        background-color: #f0d7b7;
        color: black;
        border-color: black;
    
    }

}

@media (min-width: 767px) and (max-width: 991px) {
    header{
        text-align: center;
        text-decoration: none;
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif
    }

    div.menuBoard{
        margin: 0px auto;
        width:80%;
        height: auto;
        padding: 20px;
        position: relative;
        
        
    
    }
    
    .chickenSec {
        width: 40%;
        height: 10%;
        display: inline-block;
        border-style: solid;
        padding: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: rgb(155, 153, 153);

        
    
    }
    .beefSec {
        width: 40%;
        height: 10%;
        display: inline-block;
        border-style: solid;
        padding: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: rgb(155, 153, 153);

        
    
    }
    section {
        width: 85%;
        height: 10%;
        display: inline-block;
        border-style: solid;
        padding: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: rgb(155, 153, 153);

        
    
    }
    
    
    span{
        width: 20%;
        height: auto;
        border-style: solid;
        border-top-style: none;
        border-right-style: none;
        float: right;
        padding: 2%;
        margin-top: -5px;
        margin-right: -5px;
        padding-left: 10%;
        padding-right: 10%;
        font-weight: bold;
        
    }
    p{
        width: auto;
        height: auto;
        padding-top: 50px;
        padding-left: 20px;
    }

    
    .chickenSpan{
        background-color: rgb(243, 147, 163);
        color: black;
        border-color: black;
    
    }
    
    .beefSpan{
        background-color: rgb(236, 53, 53);
        color: white;
        border-color: black;
        
    }
    
    .sushiSpan{
        background-color: #f0d7b7;
        color: black;
        border-color: black;
    
    }

}

@media (min-width: 0px) and (max-width: 767px) {
    header{
        text-align: center;
        text-decoration: none;
        font-size: 32px;
        font-family: Arial, Helvetica, sans-serif
    }
    
    div.menuBoard{
        margin: 0px auto;
        width:80%;
        height: auto;
        padding: 20px;
        position: relative;
        
        
    
    }
    
    section{
        width: 100%;
        height: 10%;
        display: block;
        border-style: solid;
        padding: 5px;
        margin-right: 10px;
        margin-bottom: 10px;
        margin-top: 10px;
        background-color: rgb(155, 153, 153);

        
    
    }
    
    
    span{
        width: 20%;
        height: auto;
        border-style: solid;
        border-top-style: none;
        border-right-style: none;
        float: right;
        padding: 2%;
        margin-top: -5px;
        margin-right: -5px;
        padding-left: 10%;
        padding-right: 10%;
        font-weight: bold;
        
    }
    p{
        width: auto;
        height: auto;
        padding-top: 50px;
        padding-left: 20px;
    }
    
    .chickenSpan{
        background-color: rgb(243, 147, 163);
        color: black;
        border-color: black;
    
    }
    
    .beefSpan{
        background-color: rgb(236, 53, 53);
        color: white;
        border-color: black;
        
    }
    
    .sushiSpan{
        background-color: #f0d7b7;
        color: black;
        border-color: black;
    
    }

}